* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'VT323', monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(56, 78, 104);
    flex-direction: column;
}

h2 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5em;
}

.main-container {
    background: purple;
    display: flex;
    flex-direction: row;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: rgb(180, 157, 95);
    padding: 10px;
}

.reset {
    padding: 15px 20px;
    color: rgb(40, 56, 75);
    background: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    height: 3em;
    margin: 10px;
}

.reset:focus {
    color: #fff;
    background: green;
}

.game {
    width: 440px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
    justify-content: center;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #fff;
    transform: rotateY(180deg);
    transition: transform 0.5s, scale 0.3s;
    box-shadow: 0 0 0 white;
    border-radius: 10px;
    cursor: pointer;
}

.item:hover {
    scale: 1.01;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.363);
    /* border: 5px double #ff9100; */
    animation: colorOutline 0.5s ease-in-out infinite;
}

.boxOpen {
    transform: rotateY(0deg);
    transition: transform 0.5s;
}

.item:after {
    content: '';
    position: absolute;
    inset: 0;
    /* opacity: 0.6; */
    background: brown;
    transition: transform 0.5s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    border-radius: 10px;
}

.boxOpen:after,
.boxMatch:after {
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.boxMatch {
    /* animation: backgroundAnimation 0.01s ease-in-out 2; */
    transform: rotateY(-720deg);
    transition: transform 0.5s, box-shadow 1.5s, opacity 3s;
    box-shadow: 0 0 20px rgb(255, 196, 129);
    opacity: 0;
    cursor: default;
}

.score-board-container {
    height: 460px;
    width: 300px;
    background: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.score-board {
    flex-grow: 2;
    padding: 20px;
    align-self: flex-start;
}

h3 {
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.history {
    flex-grow: 1;
    height: 300px;
    width: 250px;
    background: white;
    color: #ff9100;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items:baseline;
}

.history h4 {
    font-size: 1.5em;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
}

.line-thing {
    display: block;
    height: 2px;
    width: 80%;
    background: #ff9100;
    margin-left: 10%;
}

.pvm-menu,
.main-menu,
.pre-menu {
    text-align: center;
    /* margin-top: 50px; */
    /* height: 440px;
    width: 800px; */
    background: rgb(255, 145, 0);
    padding: 25px;
    border-radius: 10px;
    border: 3px solid #ffc982;
    box-shadow: 0 0 14px #ff9100;
    display: flex;
    flex-direction: column;
    height: 460px;
    width: 600px;
}
.pvm-menu button,
.main-menu button,
.pre-menu button {
    padding: 15px 20px;
    color: rgb(40, 56, 75);
    background: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    height: 3em;
    margin: 10px;
}
form {
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;    
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.3em;
}

input {
    width: 200px;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 7px;
    border: 2px solid #ffc982;
}

.player {
    display: flex;
    flex-direction: row;
    font-size: 1.3em;
    color: #fff;
    margin-top: 10px;
}

.active-player {
    color: #c8ff00; 
    font-weight: bold;
    animation: sizeAnimation 0.8s ease-in-out infinite, sizeAnimationOne 0.8s ease-in-out 1;
}

@keyframes sizeAnimation {
    0%, 100% {
        transform: scale(1);
        outline: 0px dotted #ff00bf;
    }
    50% {
        transform: scale(1.2);
        outline: 4px double #00f7ff;
    }
}

@keyframes sizeAnimationOne {
    0%, 100% {
        transform: scale(1);
        color: #c8ff00;
    }
    50% {
        transform: scale(1.5);
        color: #ff00bf;
    }
}

@keyframes colorOutline {
    0%, 100% {
        outline: 1px double #ff0000;
    }
    50% {
        outline: 10px double #ff9100;
        z-index: 3;
    }
}

@keyframes backgroundAnimation {
    0%, 100% {
        background: #00f7ff;
    }
    25% {
        background: #ff00c8;
    }
    50% {
        background: #ff9100;
    }
    75% {
        background: #33ff00;
    }
}

.draw-notice,
.winner-notice {
    text-align: center;
    background: rgb(255, 145, 0);
    padding: 25px;
    border-radius: 10px;
    border: 3px solid #ffc982;
    box-shadow: 0 0 14px #ff9100;
    display: flex;
    flex-direction: column;
    width: 200px;
    animation: fadeInOutNotice 3s ease 1;
    position: absolute;
    left: calc(50% - 100px);
    z-index: 3;
}

@keyframes fadeInOutNotice {
    0% {
        opacity: 0;
        bottom: 30%;
        box-shadow: 0 0 14px #ff9100;
    }
    25% {
        opacity: 1;
        bottom: 50%;
    }
    50% {
        box-shadow: 0 0 300px #ffffff;
    }
    90% {
        opacity: 1;
        bottom: 50%;
    }
    100% {
        opacity: 0;
        bottom: 70%;
        box-shadow: 0 0 14px #ff9100;
    }
}