* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: monospace;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(56, 78, 104);
    flex-direction: column;
}

h2 {
    font-size: 3em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.main-container {
    background: purple;
    display: flex;
    flex-direction: row;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background: rgb(180, 157, 95);
    padding: 10px;
}

.reset {
    padding: 15px 20px;
    color: rgb(40, 56, 75);
    background: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    height: 3em;
    margin: 10px;
}

.reset:focus {
    color: #fff;
    background: green;
}

.game {
    width: 440px;
    height: 440px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style: preserve-3d;
    perspective: 500px;
    justify-content: center;
}

.item {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    background: #fff;
    transform: rotateY(180deg);
    transition: 0.25s;
}

.item.boxOpen {
    transform: rotateY(0deg);
}

.item:after {
    content: '';
    position: absolute;
    inset: 0;
    /* opacity: 0.6; */
    background: brown;
    transition: 0.25s;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.boxOpen:after,
.boxMatch:after {
    transform: rotateY(180deg);
}

.score-board-container {
    height: 460px;
    width: 300px;
    background: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.score-board {
    flex-grow: 2;
    padding: 20px;
    align-self: flex-start;
}

h3 {
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.history {
    flex-grow: 1;
    height: 300px;
    width: 250px;
    background: white;
}

.pre-menu {
    text-align: center;
    margin-top: 50px;
    /* height: 440px;
    width: 800px; */
    background: rgb(255, 145, 0);
    padding: 25px;
    border-radius: 10px;
    border: 3px solid #ffc982;
    box-shadow: 0 0 14px #ff9100;
  }

.pre-menu button {
    padding: 15px 20px;
    color: rgb(40, 56, 75);
    background: #fff;
    border: none;
    border-radius: 8px;
    font-size: 1.3em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 600;
    height: 3em;
    margin: 10px;
}
  form {
    margin-bottom: 10px;
    margin-top: 10px;
    color: white;    
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 1.3em;
}
  
  input {
    width: 200px;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 7px;
    border: 2px solid #ffc982;
  }

  .player {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    color: #fff;
    margin-top: 10px;
  }